
@media screen and (max-width : 922px){
    .container-fluid .row .col-lg-auto .rounded-circle{
        display: none;
    }

    .container-fluid .col-lg-auto .rounded-pill{
        display: none;
    }

    .container-fluid .row .col-lg-auto .row.mt-5.pt-5{
        display: none;
    }
    
    .container-fluid .row .col-lg-auto h6.text-white{
        display: none;
    }

    .container-fluid .col-lg-auto .rounded-3 .col-8 {
        display: none;
    }

    .container-fluid .col-lg-auto .row.d-flex.flex-lg-column{
        background-color: #313131;
        border: 1px solid #717171;
    }

    .container-fluid .col-lg-auto .rounded-3 {
        width: 75px;
    }

    #home .col-auto button.btn{
        display: none;
    }

    #home2 .row.my-5 .col-lg-9 .card {
        width: 270px;
        height: 240px;
    }


     #home2 .row.my-5 .col-lg-9 .card img {
        width: 190px;
        height: 150px;
    }

    #profile3 .col-lg-6 .rounded-3 .col-3 {
        display: none;
    }

    #project .col-6 .rounded-4 {
        background-color: #313131;
        width: 100%;
        height: 200px;
    }

    #project .col-6 .rounded-4 {
        background-color: #313131;
        width: 100%;
        height: 200px;
    }

    #project .col-6 .rounded-4 .col-6 .rounded-4 {
        height: 200px;
    }

    #project .col-lg-6 .rounded-4 .col-md-6 .rounded-4 img {
        height: 280px;
        width: 300px;
    }

}

@media screen and (max-width : 576px){
    #home2 .row.my-5 .col-lg-9 .card img {
        width: 290px;
        height: 250px;
    }

    #home2 .row.my-5 .col-lg-9 .card {
        height: 330px;
    }
    

   #profile .col-lg-6 .rounded-3.d-flex {
        background-color: #313131;
        width: 360px;
        height: 230px;
    }

    #profile .col-lg-6 .rounded-3.d-flex img {
        width: 340px;
        height: 220px;
    }

    #contact .col-lg-6 svg{
        width: 28px;
        height: 28px; ;
    }

    #contact .col-lg-6 .d-flex p{
        font-size: 10px;
    }

    #contact .col-lg-6 .d-flex h6{
        font-size: 8px;
    }

    #profile p, #profile2 p, #profile3 p {
        font-size: 14px;
    }

     #project .col-lg-6 .rounded-4 .col-md-6 .rounded-4 img {
        height: 300px;
        width: 344px;
    }
}

@media screen and (max-width : 375px){
    #project .col-lg-6 .rounded-4 .col-md-6 .rounded-4 img {
        height: 280px;
        width: 293px;
    }
}

